<form method="post">
    <fieldset>
        <legend>Please Login</legend>
        <label for="email">Email Address</label>
        <input type="email" name="email" placeholder="enter your email address" required id="email"/><br/>
        <label for="password">Password</label>
        <input name="password" type="password" required id="password"/>
    </fieldset>
</form>
